body {
    margin: 0;
    background-color: #fff;
    font-family: "Rubik", sans-serif;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%
}


p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #111;
    font-size: 72px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: -.02em
}

.coming-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
}

.coming {
    height: 100vh;
    align-items: center;
    justify-items: center;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.coming h1 {
    font-size: 72px;
    margin-bottom: 64px;
}

.coming p {
    font-size: 16px;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.shotsslider {
    display: flex;

    z-index: -1;
    overflow: hidden;
    flex-wrap: nowrap;
    overflow-x: auto;

}

.shotframe {
    width: 360px;
    height: 270px;
    margin-right: -48px;
    margin-left: -48px
}

.shotframe {
    width: 240px;
    height: 188px;
    margin-right: -24px;
    margin-left: -24px
}

.shotframe {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
    margin-right: -64px;
    margin-left: -64px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #ecedef
}

.shotframe {
    width: 360px;
    height: 270px;
    margin-right: -48px;
    margin-left: -48px
}

.shotframe.pat2 {
    margin-top: -200px;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg)
}

.shotframe.pat3 {
    margin-bottom: -200px;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg)
}

.shotframe.pat4 {
    margin-bottom: -120px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg)
}

.parallaxzone.hero {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 200vh;
    margin-top: 0;
}

.parallaxzone {
    position: absolute;
    left: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    margin: auto;
}






.h2 {
    font-size: 20px;
    font-family: "Medium";
}



.logo {
    height: 28px;
    max-width: none;
}

.shotsrow {
    margin-left: -100px;
}


.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.nav-left-part {
    display: flex;
    height: 100%;
    align-items: center;
}


.categories-container {
    display: flex;
    height: 100%;
    margin-left: 80px;
    align-items: center;
}

.hero {
    display: block;
    width: 100vw;
    margin-top: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
}





.a-links {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-family: 'Book';
    color: #000;
    font-size: 22px;
    text-decoration: none;
}



.grid {
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.projects {
    width: 100vw;
}

.project-name {
    font-family: Styreneb;
    color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-decoration: none;
    text-transform: none;
}

.button {
    padding: 15px 25px;
    background-color: #000;
    font-family: Styreneb;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
}



.featured-p {
    max-width: 660px;
    color: #000;
    font-size: 15px;
    line-height: 22px;
}


.icon--arrow {
    height: 13px;
}

.button-with-arrow {
    display: flex;
    margin-right: 0px;
    margin-left: auto;
    padding: 20px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.website-projects-prev {
    width: 100vw;
    margin-top: 211px;
}

.website-projects-prev-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0px 100px;
    flex-direction: column;
}

.p--like-headline-19-27-bold {
    font-family: "Book";
    margin-bottom: 0px;
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
}

.grid-two-projects {
    margin-top: 50px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.prev-web-project-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
}

.headline--project-name {
    color: #000;
    font-family: "Bold";
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.p--project-prev {
    font-family: "Medium";
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
    line-height: 25px;
}

.project-text-prev-wrapper {
    padding-bottom: 32px;
    color: #000;
}



.interface-projects-prev {
    width: 100vw;
    margin-top: 211px;
}

.apps-prev {
    width: 100vw;
}

.branding-projects-prev {
    width: 100vw;
    margin-top: 211px;
}

.interface-projects-prev-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.apps-prev-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0px;
    flex-direction: column;
}

.branding-projects-prev-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}

footer {
    border-top: solid 1px #000000;
}

.footer-container {
    height: 150px;
    max-width: 1080px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.grid-for-interfaces-preview {
    margin-top: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 100px;
    grid-template-columns: 1fr;
}


.prev-interfaces-project-wrapper {
    text-decoration: none;
    cursor: pointer;
}

.grid--branding-projects {
    margin-top: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-text {
    color: #000000;
}







.about-h2 {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}





.desktop-blocks {
    width: 100vw;
    padding-top: 70px;
}

.intro-with-photo {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
}

.full-width-image {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 60px;
    justify-content: center;
    align-items: center;
}

._1-image-left--text-right {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 0px;
    justify-content: center;
}

.text-left--1-wide-image-right {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
}

._3-images-in-row {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
    justify-content: center;
    align-items: center;
}

._2-narrow-images-in-row {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
}

._2-wide-images-in-row {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
}

.text-left--2-images-right {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
}

._2-images-left--text-right {
    display: block;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
    justify-content: center;
}

._1-wide-image-right--text-right {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 75px 60px;
}

.grid--intro-with-photo {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.image-intro-with-product {
    width: 100%;
}

.about-the-client--wrapper {
    padding-top: 150px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
}

.problem-solution--wrapper {
    padding-top: 150px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #000;
}

.p--19-25-semibold {
    margin-bottom: 0px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 600;
}

.p--19-25-semibold.white {
    color: #f5f5f7;
}

.p--19-25-semibold.white.last {
    margin-top: 15px;
}

.text-right--1-image-left {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
}

.colored-background-full-width-image {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.grid--2-blocks-480px {
    max-width: 990px;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.hero-wrapper {
    overflow: hidden;
}

.image-narrow {
    width: 100%;
}

.scrolling-wrapper {

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
}


.text-wrapper {
    display: flex;
    padding-right: 40px;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.p--21-25-semibold {
    color: 000;
    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
}

.grid--3-blocks-420px {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.grid--2-wide-blocks {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.image-wide {
    width: 100%;
}


.grid--3-blocks-1-2 {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.headline-and-text {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
}

.headlines-container {
    width: 100%;
    max-width: 980px;
}

.p--like-headline-1 {
    margin-bottom: 20px;
    font-size: 54px;
    line-height: 64px;
    font-weight: 800;
    text-align: left;
}

.p--like-headline-2 {
    max-width: 560px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 800;
    text-align: left;
}



.mobile-preview-cover {
    display: none;
}

.mobile-p-like-headline--hero {
    display: none;
}




.lightbox-link {
    cursor: zoom-in;
}

@media screen and (max-width: 2560px) {
    .header-mobile {
        display: none;
    }

    .nav {
        position: sticky;
        top: 0;
        width: 100vw;
        height: 80px;
        background-color: hsla(0, 0%, 100%, 100%);
        border-bottom: 1px solid rgba(5, 6, 15, 0.04)
    }

    .nav-container {
        display: flex;
        max-width: 1080px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;
    }

    .nav--category {
        font-family: 'Rubik', sans-serif;
        display: flex;
        padding-left: 20px;
        color: #111;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }

    .hero-container {
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .p-hero {
        padding-top: 32px;
        font-size: 22px;
        line-height: 34px;
        font-family: 'Rubik', sans-serif;
    }

    .p--button-with-arrow {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        margin-right: 10px;
        margin-bottom: 0px;
        color: #111;
        font-size: 19px;
        line-height: 27px;
        text-transform: lowercase;
    }

    .h1-hero {
        font-weight: 500;
        letter-spacing: -.02em;
        color: #111;
        font-size: 59px;
        line-height: normal;
        font-family: 'Rubik', sans-serif;
    }

    .nav {
        height: 80px;
    }

    .logo {
        display: block;
        width: 96px;
        height: 24px;
    }

    .full-width-image {
        max-width: 1440px;
    }

    .about-me {
        padding-top: 112px;
        padding-bottom: ;
    }

    .about-me-container {
        display: flex;
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
    }

    .info-container {
        width: 50%;
    }

    .skills-container {
        background-color: #111;
    }

    .p-bio {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }

    .p-bio-black {
        color: #fff;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 25px;
    }

    .hero-wrapper {
        padding-top: 112px;
    }

    .hero-container {
        width: 100%;
    }

    .footer-text-h1 {
        color: #111;
        font-size: 22px;
        padding-bottom: 8px;
    }

    .footer-text-h2 {
        color: rgba(0, 0, 0, .4);
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        display: none;
    }

    .shotsslider {
        display: none;

    }

    .gallery-grid-container {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    }

    .shotsslider {
        margin-top: 48px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .shotsrow {
        margin-left: -148px;
        transform: scale(1);
        transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .hero {
        padding: 40px 20px;
    }

    .shotsslider {
        margin-top: 32px;
        padding-top: 120px;
        padding-bottom: 120px
    }


    .shotsrow {
        margin-left: -1118px
    }

    .gallery {
        padding: 40px 20px;
    }


}

@media screen and (max-width: 425px) {
    .header-mobile-container {
        position: relative;
        display: flex;
        height: 60px;
        padding-right: 16px;
        padding-left: 16px;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid rgba(5, 6, 15, 0.04);
    }

    .shotsslider {
        margin-top: 32px;
        padding-top: 88px;
        padding-bottom: 88px
    }

    .shotsslider {
        margin-top: 32px;
        padding-top: 88px;
        padding-bottom: 88px
    }

    .nav {
        display: none;
    }

    .hero {
        margin-top: 60px;
        padding: 0px;
    }

    .h1-hero {
        font-size: 28px;
        line-height: normal;
    }

    .p-hero {
        padding-top: 32px;
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
    }

    .hero-container {
        width: 100%;
        padding-top: 92px;
    }

    .h2 {
        display: none;
        max-width: none;
        font-size: 26px;
        line-height: 34px;
    }

    .icon--arrow {
        display: none;
    }

    .website-projects-prev {
        margin-top: 93px;
    }

    .interface-projects-prev {
        margin-top: 93px;
    }

    .branding-projects-prev {
        margin-top: 93px;
    }

    .button-with-arrow {
        position: static;
        right: -2px;
        margin-right: 0px;
        margin-left: auto;
        padding: 12px 20px;
        border-style: solid none solid solid;
        border-width: 2px;
        border-color: #000;
        border-radius: 26px 0px 0px 26px;
    }

    .about-me {
        padding-top: 93px;
    }

    .website-projects-prev-container {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .website-projects-prev-container.inside {
        padding-bottom: 100px;
    }

    .p--like-headline-19-27-bold {
        padding-left: 0px;
        font-size: 15px;
        line-height: 20px;
    }

    .p--like-headline-19-27-bold.center {
        margin-bottom: 0px;
        text-align: left;
    }

    .grid-two-projects {
        margin-top: 25px;
        grid-column-gap: 0px;
        grid-row-gap: 60px;

        grid-template-columns: 1fr;
    }

    .grid-two-projects.inside {
        grid-row-gap: 50px;
    }

    .headline--project-name {
        margin-bottom: 0px;
        font-size: 26px;
        line-height: 34px;
    }

    .p--project-prev {
        margin-bottom: 0px;
        font-size: 15px;
        line-height: 22px;
    }

    .p--project-prev.center {
        margin-bottom: 0px;
        font-size: 16px;
        text-align: left;
    }

    .p--project-prev.inside.branding {
        margin-bottom: 0px;
    }

    .project-text-prev-wrapper {
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .p--button-with-arrow {
        margin-right: 0px;
        font-size: 15px;
        line-height: 22px;
        font-weight: 700;
        text-transform: lowercase;
    }

    .hero-wrapper {
        padding-top: 93px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .featured-text--wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .branding-projects-prev-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .branding-projects-prev-container.inside {
        padding-top: 0px;
        padding-bottom: 120px;
    }

    .footer-container {
        padding-right: 20px;
        padding-left: 20px;
        flex-direction: column;
    }

    .grid-for-interfaces-preview {
        margin-top: 25px;
        margin-bottom: 50px;
        grid-row-gap: 50px;
    }

    .grid-for-interfaces-preview.inside {
        margin-top: 0px;
        margin-bottom: 25px;
        grid-row-gap: 0px;
    }

    .grid--branding-projects {
        margin-bottom: 50px;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }

    .grid--branding-projects.inside {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .centered-container {
        text-align: left;
    }

    .gallery-grid-container {
        margin-right: 0px;
        margin-left: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    .wrapper--social-media {
        margin-top: 20px;
    }

    .p--like-headline--32-40-bold {
        font-size: 28px;
        line-height: 36px;
    }

    .p--like-headline--32-40-bold.grey {
        margin-bottom: 20px;
    }

    .about-me-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .grid--about-me {
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .skills-container {
        padding: 50px 16px;
    }

    .info-container {
        padding: 50px 16px;
    }

    .contacts-container {
        padding: 50px 20px;
    }

    .p-13-20-semibold {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }

    .p-bio {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 26px;
    }

    .links-messengers {
        font-size: 22px;
        line-height: 30px;
    }

    .desktop-blocks {
        padding-top: 60px;
    }

    .intro-with-photo {
        padding: 0px;
    }

    .intro-without-photo {
        padding: 0px;
    }

    .full-width-image {
        padding: 25px 0px;
    }

    ._1-image-left--text-right {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .text-left--1-wide-image-right {
        padding: 25px 0px;
    }

    ._3-images-in-row {
        padding: 25px 0px;
    }

    ._2-narrow-images-in-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    ._2-wide-images-in-row {
        padding: 25px 0px;
    }

    .text-left--2-images-right {
        padding: 0px 0px 25px;
    }

    ._2-images-left--text-right {
        padding: 0px 0px 25px;
    }

    ._1-wide-image-right--text-right {
        padding: 25px 0px;
    }

    .grid--intro-with-photo._3-blocks-420px {
        grid-column-gap: 0px;

        grid-template-columns: 1fr;
    }

    .about-the-client--wrapper {
        padding: 60px 20px;
    }

    .problem-solution--wrapper {
        padding: 60px 20px;
    }

    .p--19-25-semibold {
        font-size: 17px;
        line-height: 22px;
    }

    .text-right--1-image-left {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .grid--2-blocks-480px {
        grid-column-gap: 0px;
        grid-row-gap: 20px;

        grid-template-columns: 1fr;
    }


    .p--21-25-semibold {
        font-size: 17px;
        line-height: 22px;
    }


    .grid--3-blocks-420px {
        grid-column-gap: 0px;
        grid-row-gap: 20px;

        grid-template-columns: 1fr;
    }

    .grid--2-wide-blocks {
        grid-column-gap: 0px;
        grid-row-gap: 20px;

        grid-template-columns: 1fr;
    }

    .grid--3-blocks-1-2 {
        grid-column-gap: 0px;
        grid-row-gap: 20px;

        grid-template-columns: 1fr;
    }

    .headline-and-text {
        padding: 50px 20px;
    }

    .p--like-headline-1 {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 40px;
    }

    .p--like-headline-2 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 34px;
    }

    .desktop-preview-cover {
        display: none;
    }

    .mobile-preview-cover {
        display: block;
    }

    .header-mobile {
        position: fixed;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        display: block;
        width: 100vw;
    }



    .image-logo {
        height: 24px;
    }

    .menu {
        display: flex;
        width: 60px;
        height: 60px;
        padding-right: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-link-container {
        position: fixed;
        left: 0%;
        top: 60px;
        right: 0%;
        bottom: 0%;
        display: none;
        width: 100%;
        height: auto;
        background-color: #fff;
    }

    .icon-close-menu {
        display: none;
    }

    .nav-links-wrapper {
        padding-top: 93px;
        padding-right: 16px;
    }


    .link-nav-mobile {
        margin-bottom: 5px;
        color: #000;
        font-size: 20px;
        line-height: 36px;
        text-align: right;
        text-decoration: none;
    }

    .about-me-wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

}
