	@media screen and (min-width: 1024px) and (max-width: 2560px) {
		.dev-main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.dev-container {
			display: flex;
			flex-direction: column;
			width: 760px;
			margin-left: auto;
			margin-right: auto;
			min-height: 100vh;
		}
	}

	@media screen and (min-width: 320px) and (max-width: 1024px) {
		.dev-container {
			display: flex;
			align-items: center;
			max-width: 343px;
			margin-left: auto;
			margin-right: auto;
			min-height: 100vh;
		}
	}
