@media screen and (min-width: 1024px) and (max-width: 2560px) {
	.wrapper-about {
		display: flex;
		gap: 32px;
		flex-direction: column;
	}

	.about-container {
		width: 100%;
		background-color: #fff;
		border-radius: 32px;
		padding: 32px;
		border: 1px solid rgb(240 242 248);
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.wrapper-about {
		display: flex;
		flex-direction: column;
	}

	.about-container {
		background-color: #fff;
		padding: 16px;
		border: 1px solid rgb(240 242 248);
	}
}
