.w-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 174px;
}

.w-flex img {
	height: 442px;
	border-radius: 20px;
}

.w-flex p {
	max-width: 364px;
	line-height: 28px;
	font-size: 16px;

}

.w-flex-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.w-flex-header {
	display: flex;
	flex-direction: column;
	padding: 32px;
	border: 1px solid rgb(240 242 248);
	border-radius: 32px;
	flex-wrap: wrap;
	gap: 12px;
	background-color: #FFF;
}

.img-container {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
