.w-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 174px;
}

.w-flex img {
	height: 442px;
	border-radius: 20px;
}

.w-flex p {
	max-width: 364px;
	line-height: 28px;
	font-size: 16px;

}

.w-flex-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.w-flex-header {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
